.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### AWS ###
**/docker-compose-live.yml

### Application ###
**/application-staging.yml
**/application-live.yml

### Logging ###
**/logback-staging.xml
**/logback-live.xml

### Monitoring ###
**/prometheus-staging.yml
**/prometheus-live.yml
**/promtail-config-staging.yml
**/promtail-config-live.yml

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
pinpoint-agent-2.5.4

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/!/.idea/modules/
.idea/workspace.xml
