spring:
  datasource:
    url: jdbc:mysql://localhost:3306/couponDB
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 5
      pool-name: coupon-db-pool
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  flyway:
    enabled: false

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      bootstrap-servers: localhost:9092
    consumer:
      bootstrap-servers: localhost:9092

kafka:
  topic:
    coupon-issue: coupon-issue

springdoc:
  swagger-ui:
    path: /service-docs.html
    query-config-enabled: true
    enabled: true

security:
  jwt:
    token:
      secret-key: coupon@dPtnfwjdasdkkasjdnvxcu32ad128znczSs2n42dbashdyasdbav2Clvyx9vsnasd
      access:
        expire-length: 3600000 # 1시간
