spring:
  datasource:
    url: jdbc:mysql://<DB_서버_IP>:3306/couponDB
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
      connection-timeout: 1000
      keepalive-time: 30000
      validation-timeout: 900
      max-lifetime: 600000
      pool-name: coupon-db-pool
      data-source-properties:
        socketTimeout: 2500
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration

  data:
    redis:
      host: <인프라_서버_IP>
      port: 6379

  kafka:
    bootstrap-servers: <인프라_서버_IP>:9092
    producer:
      bootstrap-servers: <인프라_서버_IP>:9092
    consumer:
      bootstrap-servers: <인프라_서버_IP>:9092

kafka:
  topic:
    coupon-issue:
      name: coupon-issue
      partitions: 10
      replicas: 1
      min-insync-replicas: 1

springdoc:
  swagger-ui:
    path: /service-docs.html
    query-config-enabled: true
    enabled: true

security:
  jwt:
    token:
      secret-key: coupon@dPtnfwjdasdkkasjdnvxcu32ad128znczSs2n42dbashdyasdbav2Clvyx9vsnasd
      access:
        expire-length: 3600000 # 1시간

sentry:
  dsn: ${SENTRY_DSN}
