spring.application.name: coupon-api
spring.profiles.active: local
server.port: 8080

spring:
  config:
    import:
      - monitoring.yml
      - logging.yml
  web.resources.add-mappings: false

## Live 환경 기준 (aws ec2 - t3.medium)
server:
  tomcat:
    max-connections: 10000
    accept-count: 2000
    threads:
      max: 200
      min-spare: 50
    connection-timeout: 3000

management:
  server:
    port: 8082

---
spring.config.activate.on-profile: local


---
spring.config.activate.on-profile: dev


---
spring.config.activate.on-profile: staging


---
spring.config.activate.on-profile: live
