spring.application.name: coupon-consumer
spring.profiles.active: local
server.port: 8081

spring:
  config:
    import:
      - monitoring.yml
      - logging.yml
  web.resources.add-mappings: false

## Live 환경 기준 (aws ec2 - t3.medium)
server:
  tomcat:
    max-connections: 10000
    accept-count: 200
    threads:
      max: 100
      min-spare: 20
    connection-timeout: 3000

management:
  server:
    port: 8083
  metrics:
    enable:
      kafka: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true

---
spring.config.activate.on-profile: local


---
spring.config.activate.on-profile: dev


---
spring.config.activate.on-profile: staging


---
spring.config.activate.on-profile: live
