spring:
  datasource:
    url: jdbc:mysql://<DB_서버_IP>:3306/couponDB
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
      connection-timeout: 3000
      keepalive-time: 30000
      validation-timeout: 2000
      max-lifetime: 600000
      pool-name: coupon-db-pool
      data-source-properties:
        socketTimeout: 2500
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false

  data:
    redis:
      host: <인프라_서버_IP>
      port: 6379

  kafka:
    bootstrap-servers: <인프라_서버_IP>:9092
    listener:
      concurrency: 3
      ack-mode: manual
    producer:
      bootstrap-servers: <인프라_서버_IP>:9092
    consumer:
      bootstrap-servers: <인프라_서버_IP>:9092
      auto-offset-reset: earliest
      backoff:
        initial-interval: 2000
        multiplier: 2.0
        max-attempts: 5

redisson:
  rate-limiter:
    coupon-issue:
      tps: 100

kafka:
  topic:
    coupon-issue: coupon-issue

sentry:
  dsn: ${SENTRY_DSN}